# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

.env

# IDE
/.idea/
*.iml
*.ipr
*.iws
*.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# AI model exe
src/main/java/ai_model/*.exe

# Misc
*.swp
*.swo

# Ignore user-specific config
*.vscode/
